.cart {
    &-container {
    position: relative;
    margin-top: 10vh;
    width: 300px;
    min-height: 70vh;
    background-color: #fff;;
    color: #000;
    }

    &__close-btn {
        position: absolute;
        right: 0;
        width: 4rem;
        height: 3rem;
        border: none;
        border-bottom-left-radius: 100%;
        background-color: rgba(212, 159, 11, 0.7);
        box-shadow: -3px 3px 3px 1px #000;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color:  rgb(49, 37, 49);
        transition: box-shadow .2s, background-color .25s, color .25s;

        &:hover {
            background-color: #000;
            color: #fff;
            box-shadow: none;
        }

        span {
            color: inherit;
            display: block;
            width: 100%;
            height:  60%;
            letter-spacing: 1.2px;
            font-weight: bold;
            text-transform: uppercase;
            padding: 3px;
            transform: rotate(30deg);
            margin-bottom: 5px;
            margin-left: 5px;
        }
    }

    &__name {
        margin: 5px 5px;
    }

    &__header {
        margin: 10px 5px;
        font-size: normal;
    }

    &__mini-product-list {
        max-height: 65%;
        overflow-y: scroll;
        padding: .5rem;

        .product-item{
            display: flex;
        }
    }

    &-container .product-item {
        border: 1px solid #000;
        &__img{
            max-height:50px;
            width:auto
        }
    }

    &__list-empty {
        position: relative;
        top: calc(50% - 50px);
        text-align: center;

        svg {
            height: 40px;
            width: 40px;
        }
    }

    &__final_purchase {
        margin: 8px;
    }

    &__total {
        padding: .5rem 0;
        font-weight: bold;
    }

    &__btn.btn--clear{
            border-radius: 13px;
            color: red;
            border: 1px solid red;
            background-color: transparent;
            transition: color .25s, background-color .25s;

            &:hover {
                background-color: red;
                color: #fff;
            }

    }
}

