@import './../../styles/variables';

.sorter-container {
    display: block;
    width: 100%;
    font-size: .7rem;

    & > form {
        margin-top: 2rem;
        width: inherit;
        font-size: inherit;
        color: $tertiary-font-color;
    }

    & select {
        margin: .2rem 0;
        width: inherit;
        font-size: inherit;
    }
}